# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Doxygen
*.bak
html/*


# VSCode artifacts
.vscode/*
src/.vscode/settings.json

.DS_STORE

examples/Wippersnapper_demo/build/

# Platformio artifacts
.pio/

# Secrets
data/

# Misc. Data
tests/
venv/

Doxyfile

# WS repos for reference
repos/