# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Doxygen
*.bak
html/*


# VSCode artifacts
.vscode/*
src/.vscode/settings.json
.DS_STORE
examples/Wippersnapper_demo/build/

# Virtual environment directories
.venv/
venv/

# Python artifacts
tests/__pycache__/

# Platformio artifacts
.pio/

# These sometimes contain credentials, don't commit them!
src/Wippersnapper_demo_wokwi.ino
data/