# SPDX-FileCopyrightText: Brent Rubell for Adafruit Industries, 2024
#
# SPDX-License-Identifier: MIT
name: WipperSnapper Tests

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test:
          - test_offline
      fail-fast: false
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tests/requirements.txt

      - name: Install Wokwi CI server
        uses: wokwi/wokwi-ci-server-action@v1

      - name: Install Wokwi CLI
        run: curl -L https://wokwi.com/ci/install.sh | sh

      - name: Test on Wokwi
        run: pytest test_${{ matrix.test }}.py  --junitxml=report.xml
        env:
          WOKWI_CLI_TOKEN: ${{ secrets.WOKWI_CLI_TOKEN }}

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: |
            test-results/**/*.xml